
# PostgreSQL database connection settings (Export those to docker/.env file as well)
PG_DB_USER="postgres"
PG_DB_PASSWORD="postgres"
PG_DB_HOST="localhost"
PG_DB_PORT=""
PG_DB_NAME="template"

# MinIo database connection settings (Export those to docker/.env file as well)
MINIO_ROOT_USER="user"
MINIO_ROOT_PASSWORD="password"

# RabbitMQ database connection settings (Export those to docker/.env file as well)
RABBITMQ_DEFAULT_USER="user"
RABBITMQ_DEFAULT_PASS="password"

# Database URL, take care to use the same strings as your default .env file variables
DATABASE_URL=""
# Redis URL, take care to use the same strings as your default .env file variables
REDIS_URL=""
# MinIO URL, take care to use the same strings as your default .env file variables
MINIO_URL=""
# Node environment 
NODE_ENV="development" # Options = development, production, test
PORT=3001 # Api Port
HOST="127.0.0.1" # Api Host
