

# PostgreSQL database connection settings (Use the same as your default .env file)
PG_DB_USER="postgres"
PG_DB_PASSWORD="postgres"
PG_DB_HOST="localhost"
PG_DB_PORT=""
PG_DB_NAME="template"

# MinIo database connection settings (Use the same as your default .env file)
MINIO_ROOT_USER="user"
MINIO_ROOT_PASSWORD="password"

# RabbitMQ database connection settings (Use the same as your default .env file)
RABBITMQ_DEFAULT_USER="user"
RABBITMQ_DEFAULT_PASS="password"